[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = error

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = silent

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = true

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false
